{% extends "clinico/menuMedico.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% static 'css/panelClinico.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
  <link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsClinicos.js' %} defer>         </script>
<script src="https://kit.fontawesome.com/5d0337a043.js" crossorigin="anonymous"></script>
<script src={% static 'js/panelClinico.js' %} defer >         </script>


<div class="wrap">
    <ul class="tabs">
        <li><a href="#Clinica"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span>
            Ingresos Clinicos </a></li>
    </ul>
</div>


{% endblock %}

{% block content %}


<style>
tablaClinico td {

  text-align: center;
  padding: 1px;
  /* Alto de las celdas */
  height: 1px;
  font-size:40%
  font-weight: bold;
}

tablaClinico tr {
  padding: 1px;
  /* Alto de las celdas */
  height: 1px;

}
</style>


<div class="secciones">
    <article id="Clinica">
	   <form  action="/crearHistoriaClinica/" method="get" id="FormEvolucionarHistoria">
	<!-- 	<input  -->
		<input type="hidden" id="username" name="username" value = "{{Username}}">
		<input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value = "{{SedeSeleccionada}}">
		<input type="hidden" id="numreporte" name="numreporte" value = "{{numreporte}}">
		<input type="hidden" id="grupo" name="grupo" value = "{{Grupo}}">
		<input type="hidden" id="subGrupo" name="subGrupo" value = "{{SubGrupo}}">
		<!--  Estos si de la Aplixcacion base -->
		<input type="hidden" id="sede" name="sede" value = "{{Sede}}">
		<input type="hidden" id="documento" name="documento" value = "{{Documento}}">
		<input type="hidden" id="nombreSede" name="nombreSede" value = "{{NombreSede}}">
		<input type="hidden" id="profesional" name="profesional" value = "{{Profesional}}">
		<input type="hidden" id="permisosGrales" name="permisosGrales" value = "{{PermisosGrales}}">
		<input type="hidden" id="permisosDetalle" name="permisosDetalle" value = "{{PermisosDetalle}}">
		<input type="hidden" id="escogeModulo" name="escogeModulo" value = "{{EscogeModulo}}">
		<input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

		<input type="text" id="tipoDocId" name="tipoDocId" value="">
		<input type="text" id="nombreTipoDoc" name="nombreTipoDoc" value="">
		<input type="text" id="documentoId" name="documentoId" value="">
		<input type="text" id="documento2" name="documento2" value="">
		<input type="text" id="consec" name="consec" value="">



		 <table class="table " id="tablaClinicobottom"
                           style="height: 30px, background-color:LightGray; border: 3px solid black; border-radius: 10px;width:97%;">
                        <tr>
                            <td>
                                <label for="espMedico" class="col-sm-3 control-label">Especialidad :</label>
                                <select form-select h-100 w-500" aria-label="" id="espMedico" name="espMedico">
                                    {% for especialidadesMedicos in EspecialidadesMedicos %}
                                    <option value="{{especialidadesMedicos.id}}"> {{especialidadesMedicos.nombre}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                             <td>
                                <label for="tiposFolio" class="class="col-sm-1 control-label">Tipo de Folio : </label>
                                <select form-select h-100 w-100" aria-label="" id="tiposFolio" name="tiposFolio">
                                    {% for tiposFolio in TiposFolio %}
                                    <option value="{{tiposFolio.id}}"> {{tiposFolio.nombre}}    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                               <input type="submit" id="btnCargaHc1" name="btnCargaHc1" value="Registrar Folio"></input>
                            </td>
                        </tr>
                    </table>
	   </form>

    <!-- INICIO TABLE DE  EL DATATABLE  -->
    <div class="row">
        <div class="col-md-12">
            <div class="card"  >
                <div class="card-header">
                    <div class="row">
                        <div class="row">

                    </div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="alert alert-success success-msg" style="display:none"></div>
          		  <table class="display nowrap table table table-bordered  tablaClinico table-hover table-sm dtr-inline">
			
                                <thead>
                                <tr>
                                    <th style="width:5%;">id </th>
                                    <th style="width:5%;">TipoDoc</th>
                                    <th style="width:12%;">Documento</th>
                                    <th style="width:20%;">Paciente</th>
                                    <th style="width:3%;">#</th>
                                    <th style="width:3%;">FecIngreso</th>
                                    <th style="width:12%;">FecSalida</th>
                                    <th style="width:12%;">Servicio</th>
                                    <th style="width:12%;">Cama</th>
                                    <th style="width:12%;">Diagnostico</th>
                                    <th style="width:5%;" >Action</th>
                                  <!--  <th data-visible="true"></th>  -->
                                </tr>
                                </thead>
                                <tbody style="vertical-align:bottom">
                                <tr style="height:10%">
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </article>
</div>

{% endblock %}

