{% extends "contratacion/menuConvenios.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelConvenios.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsConvenios.js' %} defer >         </script>
<script src="https://kit.fontawesome.com/5d0337a043.js" crossorigin="anonymous"></script>
 <script src={% static 'mainConvenios.js' %} defer > </script>

<div class="marco">
    <ul class="tabs">
        <li><a href="#Convenios"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span>
            Convenios </a></li>
        <li><a href="#Creacion Convenio"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Creacion convenio</a></li>
        <li><a href="#Procedimientos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Procedimientos </a></li>
	<li><a href="#Suministros"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Suministros </a></li>
	<li><a href="#Honorarios"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Honorarios </a></li>
    </ul>
</div>

<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 5px;
   padding:10px;
   border-radius:8px;
}
</style>


{% endblock %}

{% block tarifas %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">
        <article id="Convenios">
        <center><h3>Convenios </h3></center>
            <form action="/crearConvenio/" method="get" id="FormConvenio">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">

            </form>

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">

                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaConvenios" class="display nowrap table table table-bordered  tablaConvenios table-hover table-sm dtr-inline">


                                            <thead>
                                            <tr>
                                                <th style="width:5%;">Nombre</th>
                                                <th style="width:5%;">id</th>
                                                <th style="width:5%;">VigenciaDesde</th>
                                                <th style="width:12%;">VigenciaHasta</th>
                                                <th style="width:20%;">Empresa</th>
                                                <th style="width:20%;">Tarifa</th>
                                                <th style="width:5%;">Action</th>
                                                <!--  <th data-visible="true"></th>  -->
                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->

                    </div>
                </div>
            </div>

        </article>

 <article id="Creacion Convenio">
 </article>

  <article id="Procedimientos">
            <center><h3>Procedimientos </h3></center>
  </article>

  <article id="Suministros">
            <center><h3>Suministros </h3></center>
  </article>

  <article id="Honorarios">
            <center><h3>Honorarios </h3></center>
  </article>

    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
<span> Avisos ... </span>
     <span id="mensajes" name="mensajes">xxxx </span>

</div>
{% endblock %}


{% block footer %}

{% endblock %}



