{% extends "facturacion/menuFacturacion.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelFacturacion.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsFacturacion.js' %} defer >         </script>
<script src="https://kit.fontawesome.com/5d0337a043.js" crossorigin="anonymous"></script>
 <script src={% static 'mainFacturacion.js' %} defer > </script>

<div class="marco">
    <ul class="tabs">

        <li><a href="#Liquidacion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Liquidacion Cuentas Clinica </a></li>
        <li><a href="#LiquidacionDetalle"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Liquidacion Detalle Cuentas</a></li>
        <li><a href="#Abonos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Abonos Pacientes </a></li>

        <li><a href="#Traslados"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span>Traslados pagador </a></li>
    
    </ul>
</div>

<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 2px;
   padding:10px;
   border-radius:8px;
}

div.dataTables_filter input {
    width: 50px;
  }
</style>

<script>

function RefrescarPantalla() {

	alert("Entre click2");
	
	
		 var data2 =  {}   ;
   	          	data2['username'] = username;
		        data2['sedeSeleccionada'] = sedeSeleccionada;
		        data2['nombreSede'] = nombreSede;
		        data2['sede'] = sede;
		        data2['username_id'] = username_id;
		        var valor = document.getElementById("liquidacionId").value;
		        data2['valor'] = valor;	
		        data2['liquidacionId'] = valor;	
		        data2 = JSON.stringify(data2);
			let fecha = new Date();

	ano = fecha.getFullYear();
	mes = fecha.getMonth() + 1;
	dia = fecha.getDate();
        diaDesde = '01'

        desdeFecha = ano + '-' + mes + '-' + diaDesde + ' 00:00:00'
        hastaFecha = ano + '-' + mes + '-' + dia + ' 23:59:59'

        desdeFactura=0;
        hastaFactura=0;


	data2['desdeFecha'] = desdeFecha;
	data2['hastaFecha'] = hastaFecha;
	data2['desdeFactura'] = desdeFactura;
	data2['hastaFactura'] = hastaFactura;
	data2['bandera'] = 'Por Fecha';

        data = JSON.stringify(data2);


	  var tableL = $('#tablaFacturacion').DataTable(); 
	          tableL.ajax.reload();
 
}

</script>

{% endblock %}

{% block encabezado %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">

        <article id="Liquidacion">
        <center><h3>Liquidacion Cuentas</h3></center>
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
            <form action="/crearFacturacion/" method="get" id="FormFacturacion">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>
	<input type="button" id="btnRefrescar" name="btnRefrescar" value="Refrescar" >	
            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:10px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
							    
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaLiquidacion" class="display nowrap table table table-bordered  tablaLiquidacion table-hover table-sm dtr-inline" style="width:100%;">
                                           <thead>
                                            <tr>
                                           
                                                <th>id</th>
                                                <th>TipoDoc</th>
                                                <th>Documento</th>
                                                <th>Paciente</th>
                                                <th>#</th>
                                                <th>FecIngreso</th>
                                                <th>Servicio</th>
                                                <th>Cama</th>
						<th>Convenio</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->
	   </div> <!-- cierra div -->
        </article>


 <article id="Traslados">
        	    <center><h3>Traslados Convenios</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		 </div>
</article>




 <article id="Facturacion">
            <center><h3>Facturas Clinica</h3></center>
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:10px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                           <!--  <div class="row"> -->
 
				   <!--   Aqui vienen lof filtros  -->

			 <div class="row row-cols-8" style="height=8px;">

					<div class="col">
			  		     <div class="form-group row">
						 <label for="fFechaDesde" class="col-form-label col-sm-5">FechaDesde:</label>
						 <div class="col-sm-9">
							  <input type="datetime-local" id="fFechaDesde" name="fFechaDesde"  >
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="fFechaHasta" class="col-form-label col-sm-5">FechaHasta:</label>
						 <div class="col-sm-9">
							  <input type="datetime-local" id="fFechaHasta" name="fFechaHasta"  >
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="fdesdeFactura" class="col-form-label col-sm-4">FacturaDesde:</label>
						 <div class="col-sm-6">
							  <input type="text" id="fdesdeFactura" name="fdesdeFactura" value="0" >
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="fhastaFactura" class="col-form-label col-sm-4">FacturaHasta:</label>
						 <div class="col-sm-6">
							  <input type="text" id="fhastaFactura" name="fhastaFactura" value="0" >
	                                        </div>
          	                            </div>
                                      </div>

				   <div class="col">
					<div class="form-group row">
					 <label for="BtnConsultarFacturas" class="col-form-label col-sm-3"> + </label>

					     <div class="col col-sm-7">
			                        <input type="button" class="form-control form-control-sm" id="BtnConsultarFacturas"  name="BtnConsultarFacturas" value="Consultar" onclick="ConsultarFacturas()">
					</div>
					</div>
				</div>
				   <div class="col">
					<div class="form-group row">
					      <label for="btnRefrescar" class="col-form-label col-sm-3"> + </label>
						<div class="col col-sm-7">
						<input type="button" id="btnRefrescar" name="btnRefrescar" value="Refrescar" >
					</div>
				   </div>
				</div>

			    </div> <!-- Fin  row -->
			   <!--   FIN filtros de busqueda -->
			  </div> <!-- Fin card-header -->

                       <!--   </div>    este creo no va -->

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaFacturacion" class="display nowrap table table table-bordered  tablaFacturacion table-hover table-sm dtr-inline" style="width:100%;">
                                           <thead>
                                            <tr>
                                                <th>Factura</th>
                                                <th>Fecha</th>
                                                <th>TipoDoc</th>
                                                <th>Documento</th>
                                                <th>Paciente</th>
                                                <th>#</th>
                                                <th>FecIngreso</th>
                                                <th>Fecsalida</th>
                                                <th>ServicioSalida</th>
                                                <th>Camasalida</th>
                                                <th>Dx</th>
						 <th>Convenio</th>
						 <th>SalidaClinica</th>

                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>  <!-- cierra el row -->
                                </div>  <- cierra el col -->
                            </div> <!-- cierra body -->
                    </div>  <!-- Cierra card -->
                   <!--  </div>   Cierra el row-cols NO VA -->
                </div> <!- Cierra col-md-12 -->
            </div>   <!- Cierra row -->

	 </div>  <! -- Cierra div principal -->
        </article>


        <article id="Anulacion">
            <center><h3>Anulacion Facturas </h3></center>
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
			 <div class="row row-cols-8" style="height=1px;">

					<div class="col">
			  		     <div class="form-group row">
						 <label for="Afactura" class="col-form-label col-sm-4">LiquidacionId:</label>
						 <div class="col-sm-6">
							  <input type="text" id="Afactura" name="Afactura" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>
                                      </div>
					<div class="col">
			  		     <div class="form-group row">
						 <label for="AfechaFactura" class="col-form-label col-sm-4">Fecha:</label>
						 <div class="col-sm-6">
							  <input type="text" id="AfechaFactura" name="AfechaFactura" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="AtipoDoc_id" class="col-form-label col-sm-4">TipoDocumento:</label>
						 <div class="col-sm-6">
							  <input type="text" id="AtipoDoc_id" name="AtipoDoc_id" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="Adocumento_id" class="col-form-label col-sm-4">Documento:</label>
						 <div class="col-sm-6">
							  <input type="text" id="Adocumento_id" name="Adocumentoc_id" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
					<label for="Apaciente" class="col-form-label col-sm-4">Paciente:</label>

						 <div class="col-sm-6">
							  <input type="text" id="Apaciente" name="Apaciente" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="AconsecAdmision" class="col-form-label col-sm-4">ConsecutivoAdmision:</label>
						 <div class="col-sm-6">
							  <input type="text" id="AconsecAdmision" name="AconsecAdmision" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="AnombreConvenio" class="col-form-label col-sm-4">Convenio:</label>
						 <div class="col-sm-6">
							  <input type="text" id="AnombreConvenio" name="AnombreConvenio" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

				 <div class="col">
					<div class="form-group row">
					 <label for="BtnAnularFactura" class="col-form-label col-sm-3"> + </label>
					     <div class="col col-sm-7">
			                        <input type="button" class="form-control form-control-sm" id="BtnAnularFactura"  name="BtnAnularFactura" value="Anular Factura" onclick="AnularFactura()">
					</div>
					</div>
				</div>
	

	 </div>
        </article>

 <article id="LiquidacionDetalle">
          <!--   <center><h3>Liquidacion detalle Cuentas</h3></center> -->
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

		
			<div style="height: 50px;  width:100%; background-color:#EBEBEB;"> 

			<input type="hidden" id="ingresoId" name="ingresoId" value="">
			<input type="hidden" id="triageId" name="triageId" value="">
			 <input type="hidden" id="tipoDoc_id" name="tipoDoc_id" value="0" readonly>
			  <input type="hidden" id="documento_id" name="documentoc_id" value="0" readonly>
			  <input type="hidden" id="liquidacionId" name="liquidacionId" value="0" readonly>

			  <input type="hidden" id="liquidacionId1" name="liquidacionId1" value="0" readonly>



	       <div class="row row-cols-8" style="height=25px;">

						
					<div class="col">
			  		     <div class="form-group row">
						 <label for="fecha" class="col-form-label col-sm-4">Fecha:</label>
						 <div class="col-sm-5">
							  <input type="text" id="fecha" name="fecha" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="tipoDoc" class="col-form-label col-sm-4">TipoDoc:</label>
						 <div class="col-sm-4">
							  <input type="text" id="tipoDoc" name="tipoDoc" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="documento" class="col-form-label col-sm-4">DocNo:</label>
						 <div class="col-sm-4">
							  <input type="text" id="pdocumento" name="pdocumento" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
					<label for="paciente" class="col-form-label col-sm-4">Paciente:</label>
						 <div class="col-sm-4">
							  <input type="text" id="paciente" name="paciente" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="consecAdmision" class="col-form-label col-sm-4">Consec:</label>
						 <div class="col-sm-4">
							  <input type="text" id="consecAdmision" name="consecAdmision" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="nombreConvenio" class="col-form-label col-sm-4">Convenio:</label>
						 <div class="col-sm-4">
							  <input type="text" id="nombreConvenio" name="nombreConvenio" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>


					<div class="col">
			  		     <div class="form-group row">
						 <label for="cama" class="col-form-label col-sm-4">Cama:</label>
						 <div class="col-sm-4">
							  <input type="text" id="cama" name="cama" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>


					<div class="col">
			  		     <div class="form-group row">
						 <label for="servicio" class="col-form-label col-sm-4">Servicio:</label>
						 <div class="col-sm-4">
							  <input type="text" id="servicio" name="servicio" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="observaciones" class="col-form-label col-sm-4"></label>
						 <div class="col-sm-4">
							  <input type="hidden" id="observaciones" name="observaciones" value="0" readonly>
	                                        </div>
          	                            </div>
                                     </div>
					<div class="col">
			  		     <div class="form-group row">
					<span style="padding-left:8px; padding-right:3px; padding-top: 3px; display:inline-block;">
						Facturar: <img class="manImg" src={% static 'img/iloveimg-converted/Facturar.JPG' %} onclick="AFacturar()"></img> <span id="alta" name="alta" style='color:red'>Facturar </span>
					</span>
	                                        </div>
          	                            </div>

				

     		  </div> <!-- Cierra ro de 8 columnas -->



	</div>  <!-- Cierra div divisiorio -->

		 <!--  FIN Datos Liquidacion Cabecera READONLY (crear Div de Encabezados -->

		 <!--  Data Table LiquidacionDetalle  -->

	
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:70px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                           
                         <!-- OJOO SOBRA   <div class="row"> -->   
				 <!--  Campos y botones ADICIONAR para añadir valores  -->

			      <div class="row row-cols-8" >
				  <input type="hidden" id="tipoRegistro" name="tipoRegistro" value="MANUAL">
				  <input type="hidden" id="valorTotal" name="valorTotal" value="0" >


				<div class="col">
					<div class="form-group row">
				                <label for="lcups" class="col-form-label col-sm-3">Cups:</label>
				              <div class="col-sm-4">
					             <select class="select-css"  id="lcups" name="lcups">
                                                    {% for cups in Cups %}
                                                            <option value="{{cups.id}}"> {{cups.nombre}}
                                                            </option>
                                                            {% endfor %}
                                            </select>
				              </div>
				           </div>
					 </div>

					<div class="col">
					<div class="form-group row">
				                <label for="lsuministros" class="col-form-label col-sm-5">Suministro:</label>
				              <div class="col-sm-4">
					             <select class="select-css"  id="lsuministros" name="lsuministros">
                                                    {% for suministros in Suministros %}
                                                            <option value="{{suministros.id}}"> {{suministros.nombre}}
                                                            </option>
                                                            {% endfor %}
                                            </select>
				              </div>
				        </div>
					 </div>

					<div class="col">

						 <label for="cantidad" class="col-form-label col-sm-8">Cantidad:</label>
						 <div class="col-sm-4">
							  <input type="text" id="cantidad" name="cantidad" value="0" >
	                                        </div>

                                      </div>


					
					<div class="col">

						 <label for="valorUnitario" class="col-form-label col-sm-8">VrUnitario:</label>
						 <div class="col-sm-4">
							  <input type="text" id="valorUnitario" name="valorUnitario" value="0" >
	                                        </div>

                                      </div>




					<div class="col">

						 <label for="lobservaciones" class="col-form-label col-sm-8">Observa:</label>
						 <div class="col-sm-4">
							  <input type="text" id="lobservaciones" name="lobservaciones" value="" >
	                                        </div>

                                      </div>

				
				 <div class="col">
					<div class="form-group row">
					 <label for="BtnAdicionarLiquidacion" class="col-form-label col-sm-6"> + </label>

					     <div class="col col-sm-6">
			                        <input type="button" class="form-control form-control-sm" id="BtnAdicionarLiquidacion"  name="BtnAdicionarLiquidacion" value="Adicionar" onclick="AdicionarLiquidacion()">
					</div>
					</div>
				</div>

				
				 <div class="col">
					<div class="form-group row">
					 <label for="BtnRefrescarLiquidacionDetalle" class="col-form-label col-sm-6">  </label>

					     <div class="col col-sm-6">
			                        <input type="button" class="form-control form-control-sm" id="BtnRefrescarLiquidacionDetalle"  name="BtnRefrescarLiquidacionDetalle" value="Refrescar" onclick="RefrescarLiquidacionDetalle()">
					</div>
					</div>
				</div>


       </div>		<!- Cierra ro de 8 columnas -->



			<!-- FIN campos a adicionar valors -->


                            </div>  <!-- cIERRA HEADER -->
                         <!-- OJOO SOBRA  </div> -->   
                            <div class="card-body" style="height:350px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaLiquidacionDetalle" class="display nowrap table table table-bordered  tablaLiquidacionDetalle table-hover table-sm dtr-inline" style="width:100%;">

                                            <thead>
                                            <tr>
                                                <th>Consecutivo</th>
                                                <th>Fecha</th>
                                                <th>NombreExamen</th>
                                                <th>Cantidad</th>
                                                <th>ValorUnida</th>
                                                <th>ValorTotal</th>
                                                <th>Observaciones</th>
                                                <th>TipoRegistro</th>
						<th>Estado</th>
                                                <th>Editar Borrar</th>

                                            
                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->

                    </div> <!-- cierra CARD -->
                </div> <!-- cierra col  -->
            </div> <!-- cierra row -->



		 <!--  FIN Data Table LiquidacionDetalle  -->

		 <!--  Totales  (Crear Div De Totales)-->

		 <!--	<div style="height: 30px;  width:100%;  background-color:#EBEBEB;">  -->

	       <div class="row row-cols-9" style="height=1px;">
					
					<div class="col">
			  		     <div class="form-group row">
						 <label for="totalCopagos" class="col-form-label col-sm-3">Copagos:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalCopagos" name="totalCopagos" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="totalCuotaModeradora" class="col-form-label col-sm-4">Moderadora:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalCuotaModeradora" name="totalCuotaModeradora" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="totalProcedimientos" class="col-form-label col-sm-4">Proced:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalProcedimientos" name="Procedimientos" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
					<label for="totalSuministros" class="col-form-label col-sm-4">Suminis:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalSuministros" name="Suministros" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="totalLiquidacion" class="col-form-label col-sm-4">Liquid:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalLiquidacion" name="totalLiquidacion" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="valorApagar" class="col-form-label col-sm-4">Apagar:</label>
						 <div class="col-sm-2">
							  <input type="text" id="valorApagar" name="valorApagar" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

					<div class="col">
			  		     <div class="form-group row">
						 <label for="anticipos" class="col-form-label col-sm-4">Antic:</label>
						 <div class="col-sm-2">
							  <input type="text" id="anticipos" name="anticipos" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>

				<div class="col">
			  		     <div class="form-group row">
						 <label for="totalAbonos" class="col-form-label col-sm-3">Abonos:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalAbonos" name="totalAbonos" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>
		
					<div class="col">
			  		     <div class="form-group row">
						 <label for="totalRecibido" class="col-form-label col-sm-3">Recibido:</label>
						 <div class="col-sm-2">
							  <input type="text" id="totalRecibido" name="totalRecibido" value="0" readonly>
	                                        </div>
          	                            </div>
                                      </div>


		       </div>  <!-- Cierra el rop de 8 columnas -->

		 <!--  Fin Totales  (Crear Div De Totales)-->

	  <!--  Y ESTE DIV PARA QUE ES )   </div>  -->


	            <!-- Espacio Modales  LiquidacionDetalle-->

            <div class="modal fade" id="crearModelLiquidacionDetalle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelHeadingLiquidacionDetalle"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
                            <form id="postFormLiquidacionDetalle" name="postFormLiquidacionDetalle" class="form-horizontal"
                                  novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" id="post_id">

                           <!--  Y ESTE DIV PARA QUE ES )   </div>  -->

					  <input type="text" id="liquidacionDetalleId" name="liquidacionDetalleId" value="0" readonly>	
			                 <input type="hidden" id="username_id2" name="username_id2" value="{{Username_id}}">
				<div class="row row-cols-8" style="height=1px;">
				<div class="col">
                                    Consecutivo:
                                    <input type="text" id="ldconsecutivo" name="ldconsecutivo" value="0" readonly></input>
                                </div>

                                <div class="col">
                                    <label for="ldcups" class="col-sm-2 control-label">Cups:</label>
                                    <select class="form-select  h-100 w-200" aria-label="" id="ldcups"
                                            name="ldcups">
                                        {% for cups in Cups %}
                                        <option value="{{cups.id}}"> {{cups.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="ldsuministros" class="col-sm-2 control-label">Suministro:</label>
                                    <select class="form-select  h-100 w-200" aria-label="" id="ldsuministros"
                                            name="ldsuministros">
                                        {% for suministros in Suministros %}
                                        <option value="{{suministros.id}}"> {{suministros.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
				<div class="col">
                                    Cantidad:
                                    <input type="text" id="ldcantidad" name="ldcantidad" value="0"></input>
                                </div>
				<div class="col">
                                    Valor Unitario:
                                    <input type="text" id="ldvalorUnitario" name="ldvalorUnitario" value="0"></input>
                                </div>
				<div class="col">
                                    Valor total:
                                    <input type="text" id="ldvalorTotal" name="ldvalorTotal" value="0"></input>
                                </div>
                                <div class="col">
                                    Observaciones:
                                    <input type="text" id="ldobservaciones" name="ldobservaciones" value="0"></input>
                                </div>
                                <div class="col">
                                    TipoRegistro:
                                    <input type="text" id="ldtipoRegistro" name="ldtipoRegistro" value="MANUAL" readonly> </input>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10 mt-2">
                                    <button type="submit" class="btn btn-primary" id="saveBtnCrearLiquidacionDetalle" 
                                            value="create">Guardar
                                    </button>
                                </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>
                        </div> <!-- CIERRA BODY -->
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->

     <!-- FIN Espacio Modales  -->

        </article>

        <article id="Abonos">
            <center><h3>Abonos</h3></center>
        
	 <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

                        <!-- DESDE AQUIP DATATABLE  -->
 		 <form id="FormaAbonosPaciente" name="FormaAbonosPaciente" class="form-horizontal">
                          
                               <!-- INICIO TABLE DE  EL DATATABLE  -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header" style="height:50px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                                                <div class="row">
                                                   
                                                    <div class="col-sm-3 text-end">
                                                        <span class="text-secondary">Crear Abono</span>
                                    
							 <button type="button" class="btn btn-primary" id="createAbonosFacturacion" value="crear abono"></button>

                                                    </div>
			                          </div>
                                            </div>
                                            <div class="card-body" >
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id=tablaAbonosFacturacion class="display nowrap table table table-bordered  tablaAbonosFacturacion table-hover table-sm dtr-inline" style="width:100%;">
                                                            <thead style="height:15px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                                                            <tr>
                                                                <th>Tipo Pago                </th>
                                                                <th>Forma Pago               </th>
                                                                <th>Valor                    </th>
                                                                <th>Descripcion              </th>
                                                                <th>totalAplicado            </th>
                                                                <th>Saldo                    </th>
                                                                <th>Estado</th>
							      <th>Editar Borrar</th>                                     
                                                            </tr>
                                                            </thead>
                                                            <tbody style="vertical-align:bottom">
                                                            <tr style="height:10%">
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>  <!-- termina el body -->
                                        </div> <!-- termina el CARD -->
                                    </div> <!-- termina el col-sm -->
                                </div> <!-- termina el ROW -->
                                <!-- FIN TABLE DE  EL DATATABLE  -->
                   
	   </form>

                        <!-- HASTA AQUI DATATABLE -->
            <!-- Espacio Modales  -->


            <!-- Creo Fin Modales  -->

		  </div>  <!- cIERRA EL DiV PRINCIPAL -->
	
        </article>

	<article id="ReFacturar">
      	   
	   <center><h3>Refacturacion</h3></center>
		</article>
     
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
<span> ... </span>
     <span id="mensajes" name="mensajes">. </span>

</div>
{% endblock %}



{% block footer %}

<div class="marco">
    <ul class="tabs">
        <li><a href="#Facturacion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Facturacion </a></li>
        <li><a href="#Anulacion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Anulacion Facturas </a></li>
        <li><a href="#Refacturar"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Refacturar </a></li>  

    </ul>
</div>

{% endblock %}



